body {
    background-color: #e6e6ff;
    
}

.bg-color {
    background-color: #6f42c1;
}

ul li {
    margin-top: 15px;
    list-style-type: none;
    color: #ffffff;
    font-size: 20px;
    /* font-weight: 1000; */
}

.nav-a {
    color: #ffffff;
}

.loginMsg {
    margin-left: 160px;
    color: black;
    font-size: 15px;
    /* font-weight: 80; */
}
.labelStyle{
    font-size: 25px;
    font-weight: bolder;
}